@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary text-text-primary font-Saira tracking-wider;
}

h2 {
    @apply text-2xl md:text-3xl xl:text-4xl
}

h3 {
    @apply text-xl md:text-2xl xl:text-3xl
}

.nav-link {
    @apply text-lg font-bold duration-300;
}

.nav-link:hover {
    @apply text-yellow-500
}

.social-media-ic {
    @apply text-slate-300 cursor-pointer duration-300;
}

.social-media-ic:hover {
    @apply text-yellow-500;
}

.btn {
    @apply bg-secondary-100 text-primary font-bold py-2 px-4 rounded-lg duration-300;
}

.btn:hover {
    @apply bg-secondary-200 text-text-primary;
}

.btn-outline {
    @apply bg-transparent text-white;
}

.btn-outline:hover {
    @apply bg-secondary-200/50;
}

.service-card {
    @apply border cursor-pointer rounded-md border-primary duration-200;
}

.service-card:hover {
    @apply -translate-y-1 hover:shadow-lg shadow-primary;
}

.title {
    @apply font-Kalam text-secondary-100;
}

.popular_card {
    @apply relative bg-primary p-10 rounded-lg pt-32 md:pt-24 min-w-56;
} 

.item-image {
    @apply group-hover/card:-top-2 absolute top-2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-56 duration-300;
}

.review_card {
    @apply flex flex-col bg-orange-900 p-6 gap-5 rounded-lg;
}

.review_profile_picture {
    @apply max-h-12 min-w-12 max-w-12 rounded-full bg-secondary-100 border border-secondary-200 shadow-sm shadow-secondary-100 overflow-hidden;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-color:rgb(249 115 22 / var(--tw-bg-opacity, 1))
}

.footer-social-media-ic {
    @apply text-secondary-200 cursor-pointer duration-300;
}

.footer-social-media-ic:hover {
    @apply text-secondary-100 duration-300;
}